
window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid #CCCCCC;

  background-color: #000000;
}

label {
  font-family: 'Terminess Nerd Font';
  font-size: 11pt;

  color: #CCCCCC;
}

image {
  color: #CCCCCC;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: #CCCCCC;
}
