[user]
	email = xial649@gmail.com
	name = Fais649
[credential]
	helper = libsecret
[pull]
	rebase = true
	ff = only
	merge = true
[safe]
	directory = /opt/esp-idf
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[merge]
	conflictStyle = zdiff3
