[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Fais649/nvim

[submodule "typerCorne"]
	path = typerCorne
	url = https://github.com/Fais649/typerCorne

[submodule "hyprraise"]
	path = hyprraise
	url = https://github.com/fais649/hyprraise.git

[submodule ".themes/circle-icons-generator"]
    path = .themes/circle-icons-generator
    url = https://github.com/vinceliuice/Tela-circle-icon-theme.git

[submodule ".themes/graphite-theme-generator"]
    path = .themes/graphite-theme-generator
    url = https://github.com/vinceliuice/Graphite-gtk-theme.git
